// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-header {
  background-color: $border-color-01;
}

.site-nav {
  .page-link {
    color: $site-title-color;
  }

  input:checked ~ .trigger {
    background-color: $border-color-01;
  }
}

.contact-us {
  font-size: 16px;
  color: $text-color;
}

.site-footer {
  border-top: 4px solid $border-color-01;
  background-color: $background-color-ariel;
}

.site-header {
  border-bottom: 4px solid $border-color-01;
}

.footer-col-wrapper,
.social-links {
  color: $text-color;
}

// .site-nav {
//   width: 80%;
//   text-align: center;
// }

.wrapper-anim {
  background: $border-color-01;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-content {
  font-size: 20px;

  h1, h2, h3 { margin-top: $spacing-unit * 1 }
  h4, h5, h6 { margin-top: $spacing-unit * 1}
}

.div-wanted {
  background-color: $background-color-ariel;
  box-sizing: border-box;
  border:2px solid $border-color-04;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: $border-color-04;
  font-weight: bold;
  font-size: 26px;
}

.div-wanted-2 {
  color: black;
  font-weight: normal;
  font-size: 20px;
  white-space: normal;
}